<h2>Editing Book</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Title</label>
  <p><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></p>
  <br>
  <label for="inputIntroduction">Opinion</label>
  <p><%= f.text_area :introduction %></p>
  <br><%= f.submit "Update Book" %>
<% end %>

<p><%= link_to 'Show',book_path(@user) %> | <%= link_to 'Back',"/books" %></p>